/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif !important;
}


.button-background button{
    background-color: rgb(255, 243, 230);
    padding: 10px 30px;
}
.icon{
    color: #c7c5d0;
    font-size: large;
}
.card-border{
    border-radius: 2rem;
   
}
